[Desktop Entry]
Icon=audio-mpeg
Name=1 SAB KA MALIK EK HAI (2).mp3
Type=Link
URL[$e]=file:///run/media/shivakantm/New Volume/Music/1 SAB KA MALIK EK HAI (2).mp3
X-KDE-LastOpenedWith=mpv
