[Desktop Entry]
Icon=application-pdf
Name=Certificate (1).pdf
Type=Link
URL[$e]=file:///run/media/shivakantm/Windows/Users/mango/Downloads/Certificate (1).pdf
X-KDE-LastOpenedWith=okularapplication_pdf
