[Desktop Entry]
Icon=application-x-cd-image
Name=garuda-dr460nized-blackarch-linux-zen-210406.iso
Type=Link
URL[$e]=file:///run/media/shivakantm/Windows/Users/mango/Downloads/garuda-dr460nized-blackarch-linux-zen-210406.iso
X-KDE-LastOpenedWith=org.kde.k3b
