[Desktop Entry]
Icon=video-x-matroska
Name=Mumbai Saga (2021) 1080p Hindi Pre-DVDRip x264 AAC By Full4Movies.mkv
Type=Link
URL[$e]=file:///run/media/shivakantm/Windows/Users/mango/Downloads/Mumbai Saga (2021) 1080p Hindi Pre-DVDRip x264 AAC By Full4Movies.mkv
X-KDE-LastOpenedWith=player
